.contentLoad-loaderWrapper[active] {
  position: fixed;
  height: 100vw;
  width: 100vw;
  background-color: #6d8fa1;
  z-index: 1000;
}
.contentLoad-loaderWrapper[active] > .contentLoad-loader {
  position: absolute;
  left: 42%;
  top: 20%;
  width: calc(6 * 30px);
  height: 50px;
  display: flex;
  color: #4f6072;
  transform: scale(2.5, 2.5);
  filter: drop-shadow(30px 25px 0 currentColor)
    drop-shadow(60px 0 0 currentColor) drop-shadow(120px 0 0 currentColor);
  clip-path: inset(0 100% 0 0);
  animation: l12 1.5s infinite steps(7);
}
.contentLoad-loaderWrapper[active] > .contentLoad-loader:before {
  content: "";
  width: 30px;
  height: 25px;
  --c: no-repeat radial-gradient(farthest-side, currentColor 92%, #0000);
  background: var(--c) left / 70% 70%, var(--c) right/20% 20%,
    var(--c) top 0 right 15%/20% 20%, var(--c) bottom 0 right 15%/20% 20%;
}
@keyframes l12 {
  100% {
    clip-path: inset(0 -30px 0 0);
  }
}
