.header {
  position: fixed;
  top: 0;
  min-width: 100%;
  padding: 30px 40px;
  background-color: #999;
  z-index: 100;
}
.header-nav__list {
  display: flex;
  gap: 45px;
}
.header-nav__link {
  font-size: 25px;
  text-transform: uppercase;
  color: rgb(70, 47, 25);
  font-weight: 700;
}
.header-nav__link:hover {
  color: rgb(104, 79, 55);
}
.header-nav__link[active] {
  --color-main: rgb(45, 82, 126);
  color: var(--color-main);
  border-bottom: 4px solid var(--color-main);
  pointer-events: none;
}